body {
  color: whitesmoke;
  background-color: burlywood;
}

.dual-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  justify-items: center;
  align-items: center;
  width: 80%;
}

.time-sets {
  display: grid;
  grid-template-columns: 50px 200px 20px;
  justify-items: center;
  align-items: center;
}

.time-button {
  margin-left: 10px;
}
